/* COLORES BASE */
:root {
  --comp-color-principal: #1B2A40;  
  --comp-color-secundario: #F5E3C3; 
  --comp-color-borde: #d1d5db;
  --comp-color-fondo-tabla: #ffffff;
  --comp-color-fondo-fila: #f9fafb;
}

/*BOTONES*/
.btn-primary-complaints {
  background-color: var(--color-principal);
  color: var(--color-secundario);
  border-radius: 6px;
  font-weight: 600;
  padding: 0.6rem 1.25rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.btn-primary-complaints:hover {
  background-color: #162234;
  transform: scale(1.03);
}

.btn-close-complaints {
  background: var(--color-principal);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  color: var(--color-secundario);
  transition: background 0.2s;
}

.btn-close-complaints:hover {
  background-color: #162234;
  transform: scale(1.03);
}

