
.user-sidebar-container {
  margin-left: 100px;   
  margin-top: 80px;
  margin-right: 50px;    
  width: 260px;
          
}


.user-sidebar-card {
  border-radius: 14px;
  padding: 24px;
  background: white;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.12);
}

.user-sidebar-link {
  padding: 10px 12px;
  border-radius: 8px;
  display: block;
  transition: 0.2s;
}

.user-sidebar-link:hover {
  color: black;
  background-color: #F5E3C3;
}
